body {
    background: #02171f;
    color: #FFF;
    padding-top: 50px;
    padding-bottom: 200px;
    font-family: 'Playfair Display', serif;
}

a, a:visited {
    color: #FFF;
    border: 0;
}

a, a:hover {
    color: #01d4e1;
    border: 0;
}

.container-fluid {
    padding: 0;
}

iframe {
    border: 0;
}

#decoration {
    margin: 5vh 0;
}

#decoration > div {
    height: 240px;
}

hr {
    height: 1px;
    border: 0;
    background: black;
    position: relative;
    top: 50%;
    padding: 0;
    margin: 0;
}

hr.to-right {
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#02171f), to(white));
}

hr.to-left {
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(#02171f));
}

#sphere-container {
    height: 240px;
    width: 240px;
    display: block;
    margin: 0 auto;
    position: relative;
    rotation: 30deg;
    border: 1px #FFF dashed;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#rocket {
    font-size: 5vh;
    -ms-transform: rotate(49deg); /* IE 9 */
    -webkit-transform: rotate(49deg); /* Chrome, Safari, Opera */
    transform: rotate(49deg);
    animation-name: rocket;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
}

#rocket-orbit {
    position: absolute;
    top: -70px;
    left: -55px;
    width: 350px;
    height: 350px;
    animation-name: orbit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 4s;
}

#hello-world {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    text-align: left;
    font-size: 7px;
    line-height: 7px;
}

#from {
    padding-top: 5px;
}

#from .cursive {
    padding: 5px 0 0 1vmin;
    font-size: 300%;
}

.cursive {
    font-family: 'Great Vibes', cursive;
    font-size: 150%;
}

#title {
    font-size: 6vmin;
    font-weight: normal !important;
}

#title small {
    font-size: 60%;
    color: #FFF;
}

pre, code {
    background: transparent !important;
    border: none;
    font-family: "Courier New", Courier, monospace;
}

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    animation: blink 0.7s infinite;
}

.nav-tabs {
    border-bottom: none;
    margin-bottom: 10px;
}

.nav-tabs>li>a {
    color: #FFF;
    border: 0;
}

.nav-tabs>li>a:hover {
    background-color: transparent;
    color: #01d4e1;
    border: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 0;
    border-bottom: 3px solid #01d4e1;
    background-color: transparent;
    color: #01d4e1;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.hljs-number, .hljs-built_in, .hljs-builtin-name, .hljs-literal,
.hljs-type, .hljs-params, .hljs-meta, .hljs-link {
    color: #9c9ca4;
    font-weight: bold;
}

.hljs-string, .hljs-symbol, .hljs-bullet, .hljs-addition {
    color: #01d4e1
}

.hljs {
    display: block;
    overflow-x: auto;
    color: #eaeaea;
    padding: 0.5em
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@-webkit-keyframes orbit {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes orbit {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rocket
{
    0% {opacity: 1; font-size: 4.5vh}
    50% {opacity: 0.6; font-size: 1vh}
    100% {opacity: 1; font-size: 4.5vh}
}

@-webkit-keyframes rocket
{
    0% {opacity: 1; font-size: 4.5vh}
    50% {opacity: 0.6; font-size: 1vh}
    100% {opacity: 1; font-size: 4.5vh}
}

.iframe-holder {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    height: 100vh;
}

.iframe-holder iframe {
    height: 100%;
    width: 100%;
}